@font-face {
  font-family: Roboto;
  src: url(./static/Roboto-Regular.ttf);
}

body {
  font-family:Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  top: 0;
  overflow: hidden;
}
body:-webkit-full-screen {
  position: fixed;
  top: 0;
}

.chart-container {
  margin: auto;
  width: 100vw;
}

/* .chart {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
} */

.group-dump {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  opacity: 0.4;
  display: none;
}

.inputs {
  color: black;
  margin: 10px;
  position: absolute;
  z-index: 3;
  right: calc(50vw);
  top: 0;
  max-width: 700px;
  display: grid;
  grid-template-columns: fit-content(100px) 1fr;
  grid-template-rows: fit-content(30px) fit-content(45px) 1fr;
  grid-gap: 5px;
  align-items: center;
  align-content: space-between;
  font-size: 0.8em;
  pointer-events: none;
}

.inputs h4 {
  margin: 0px;
  padding: 0px;
}
.inputs h3 {
  margin: 0px;
  padding: 0px;
}
/* GRID LAYOUT INPUTS*/
.document-counts {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}
.title-group-by {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
}
.title-extras {
  grid-column: 1;
  grid-row: 3;
  text-align: right;
}
.group-by {
  grid-column: 2;
  grid-row: 2;
  pointer-events: auto;
}

.extras {
  grid-column: 2;
  grid-row: 3;
  pointer-events: auto;
}


/* DRAG & DROP*/

.extras {
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}

.draggable {
  cursor: pointer;
  display: inline-block;
  background-color: #eee;
  font-weight: normal;
  margin: 5px;
  padding: 5px;
  border: 0px solid black;
  border-radius: 2px;
}
.active {
  background-color: #aaa;
  color: #fff;
}
.group-by {
  background-color: #fff;
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}
.as-group {
  background-color: #aaa;
  color: #fff;
}
.node {
  cursor: pointer;
}
.rect-extra {
}

/* Document List */

.document-list{
  font-family: Georgia,Roboto;
  position: absolute;
  width: 360px; 
  padding: 10px;
  border: 0px dashed black;
  border-radius: 5px;
}
.document-search {
  align-items: center;
  height: 30px;
}
.document-search-input {
  height: 100%;
  width: 100%;
  padding: none;
  border: 0px solid grey;
  border-radius: 2.5px;
  background: url(./static/search_black_24dp.svg) no-repeat right;
  background-color: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.document-search-icon {
  position: relative;
  height: 100%;
  width: 36px;
}

.document-elements{
  list-style: none;
  padding-left: 0;
  margin: 10px 0 5px 0;
  overflow-y: auto;
}
.document-li{
  margin-bottom:5px;
  opacity: 0.8;
}
.document-li a p{
  padding: 7px;
  margin: auto;
}
.document-li a{
  color:#222;
  text-decoration: none;
}
.document-li a:hover{
  text-decoration: underline;
  color:#000;
}

/*Tooltip*/
.tooltip {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  max-width: 300px;
}
.tooltip ul {
  padding: 0;
}
.tooltip ul li {
  list-style-type: none;
}
.tooltip-title {
  font-weight: bold;
}
.tooltip-date {
  color: #444;
  font-size: 0.9rem;
}
.tooltip-author {
  margin-top: 5px;
}
.tooltip-url {
  margin-top: 7px;
}
/*Main Label*/
.mainlabeldiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainlabeldiv span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}

.extra-node-text-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.extra-node-text-div span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}

.extra-hull-text-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.extra-hull-text-div span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}

.bar-chart-title {
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Toggle dark mode */

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* toggle dark btn */
.toggle-dark-container {
  position: absolute;
  right: 0;
  width: 50px;
  height: 26px;
  margin: 10px;
}

.toggle-btn {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto auto 0;
  border-radius: 40px;
}

#toggle-dark-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #ddd;
  /* box-shadow: 0px 5px 25px #d9d9d9; */
  /* border: 2px solid #aaa; */
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#toggle-dark-btn span:before,
#toggle-dark-btn span:after {
  content: "";
  position: absolute;
  top: 20%;
  width: 30%;
  height: 60%;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#toggle-dark-btn span:before {
  transform: translate(-100%, 0px);
  z-index: 1;
}

#toggle-dark-btn span:after {
  background-color: #111;
  transform: translate(40%, 0px);
  z-index: 0;
}

#toggle-dark-btn input[type="checkbox"]:checked + span {
  background-color: #111;
}

#toggle-dark-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#toggle-dark-btn input[type="checkbox"]:checked + span:before {
  background-color: #111;
  transform: translate(160%, -25%);
}

#toggle-dark-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(200%, 0px);
}

/* Toggle Center Position */

.toggle-center{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.toggle-center-button{
  cursor: pointer;
  display: flex;
  border: 0px solid black;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* Root Label */
.root-foreignobject{
  margin: auto;
}

.root-label-container{
  height: 100%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.root-label{
  color: "#222";
  padding: 0px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  padding: 5px;
  /* border-radius: 5px; */
}

.root-label p{
  margin: 0;
  padding: 0;
}
.root-label img{
  margin: 0;
  padding: 0;
}