{% extends "new_layout.html" %}
{% block title %}Arbitrary Documents{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<body>
{% block content %}
    <section class="mt-5">
        <div class='container pt-5'>
            <div class='row justify-content-center'>
                <div class='row justify-content-center text-center text-white col-lg-12'>
                    <h1>Arbitrary Documents</h1>
                </div>
                <div class="row col-12 mt-3">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Updated</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in documents %}
                              <tr>
                                <td><a onclick="editDocument(this.id)" id="{{i.title}}" href="#">{{i.title}}</a></td>
                                <td>{{i.industry_tags}}</td>
                                <td>{{"{:%d, %b %Y : %I:%M %p} EST".format(i.date_created) }}</td>
                              </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='row justify-content-center text-center text-white col-lg-12 mt-3'>
                    <button class="btn btn-primary bg-theme" type="button" onclick="myAddNew()">Add</button>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous'></script>
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous'></script>
    <script>
        function myAddNew() {
          window.location.href = "/arbitrarydocuments/addnew";
        }
        function editDocument(title) {
          window.location.href = "/arbitrarydocuments/edit?title="+title;
        }

    </script>
{% endblock %}

</body>
</html>