{% extends "new_layout.html" %}
{% block title %}Add Arbitrary Document{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<body>
{% block content %}
<form action = "/newreport" method = "POST">
    <section class="mt-5">
        <div class='container pt-5'>
            <div class='row justify-content-center'>
                <div class='row justify-content-center text-center text-white col-lg-12'>
                    <h1>Adding Report</h1>
                </div>
                <div class="row col-12 mt-3">
                    <div class='col-lg-12'>
                        <form>
                            <div class="form-group text-white">
                              <label for="exampleInputEmail1">Title</label>
                                  <input type="text" class="form-control"  placeholder="title" name="title" id="title">
                            </div>
                            <div class="form-group text-white">
                                  <label>Report Type</label>
                                  <select id="vs" name="type" class="form-control" onchange="typeChange()">
                                  {%if(type=="vscompany")%}
                                  <option value="vscompany" selected>vs company</option>
                                  <option value="vssearchquery">vs search query</option>
                                  <option value="vstag">vs tag</option>
                                  {%elif(type=="vssearchquery")%}
                                  <option value="vscompany">vs company</option>
                                  <option value="vssearchquery" selected>vs search query</option>
                                  <option value="vstag">vs tag</option>
                                  {%elif(type=="vstag")%}
                                  <option value="vscompany">vs company</option>
                                  <option value="vssearchquery">vs search query</option>
                                  <option value="vstag" selected>vs tag</option>
                                  {%endif%}
                                  </select>
                            </div>
                            <div class="row">
                                <div class="form-group text-white col-12 col-md-6">
                                      <label>Company A</label>
                                      <select name="first" class="form-control">
                                        {%for i in first%}
                                        <option value="{{i.title}}">{{i.title}}</option>
                                        {%endfor%}
                                      </select>
                                </div>
                                <div class="form-group text-white col-12 col-md-6" id="alterSelect">
                                      <label id="alterLabel">Company B</label>
                                      <select name="second" class="form-control">
                                          {%for i in second%}
                                          <option value="{{i.title}}">{{i.title}}</option>
                                          {%endfor%}
                                      </select>
                                </div>
                            </div>
                            <div class="form-group text-white">
                                  <label>Frequency</label>
                                  <select name="frequency" class="form-control">
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                  </select>
                            </div>
                            <div class="form-group text-white col-12 ml-2">
                                  <input type="checkbox" class="form-check-input" name="up_to_date" value="yes">
                                  <label class="form-check-label">Upto Date</label>
                            </div>
                            <div class="form-group row text-white">
                                <div class="col-12 form-check">
                                    <label>Date range between:</label>
                                    <input class="form-control form-control-sm" type="date" name="date_from" id="date_from">
                                </div>
                                <div class="col-12 form-check mt-2">
                                    <input class="form-control form-control-sm" type="date" name="date_to" id="date_to">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='row justify-content-center text-center text-white col-lg-12 my-2'>
                    <button class="btn btn-primary bg-theme" type="submit">Create</button>
                </div>
            </div>
        </div>
    </section>
</form>

    <footer></footer>

    <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous'></script>
<script>

document.getElementById('date_to').valueAsDate = new Date();
var date = new Date();
date ;
date.setDate(date.getDate() - 30);
document.getElementById('date_from').valueAsDate = date;

    function displayreport() {
        $("#vscompanyreport").show()
}

var typeElement = document.getElementById("vs");
function typeChange(){
      var e = document.getElementById("vs");
      var val = e.value;
      window.location.href = "/newreport?type="+val;
  }

</script>

{% endblock %}
</body>
</html>