<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/pivot/style.css" />
  <script type="text/javascript">
          var query_name = "{{ query_name }}"
  </script>
</head>

<body>
  <div class="chart-container">
    <div id="interface" class="inputs">
      <h3 class="document-counts">
        <span id="document-counts"></span>
      </h3>
      <h4 class="title-group-by input-title">Drag & Drop Hierarchy:</h4>
      <div id="group-by" class="group-by" value=""></div>
      <h4 class="title-extras input-title">Dimensions</h4>
      <div id="extras" class="extras"></div>
    </div>

    <div id="document-list" class="document-list">
      <div id="document-search" class="document-search">
        <input id="document-search-input" class="document-search-input" placeholder="Search Document" type="search">
      </div>
      <div id="doc-list-details"></div>
    </div>

    <div class="group-dump"></div>
    <div id="chart" class="chart"></div>
    <div id="chart2" class="chart"></div>
    <div class="toggle-dark-container">
      <div id="toggle-dark-btn" class="toggle-btn">
        <input id="toggle-dark" type="checkbox" />
        <span></span>
      </div>
    </div>
    <div id="toggle-center" class="toggle-center">
      <button id="toggle-center-button" class="toggle-center-button">
        <img src="../static/pivot/static/fullscreen_exit_black_24dp.svg" alt="reposition center">
      </button>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/d3@6.6.1/dist/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

<script src="../static/pivot/js/barchart/barchart.js"></script>
<!-- <script src="js/interface/dragdropinput.js"></script> -->
<script src="../static/pivot/js/interface/interface.js"></script>
<script src="../static/pivot/js/pivotchart/treeGraph.js"></script>
<script src="../static/pivot/js/pivotchart/mainGraph.js"></script>
<script src="../static/pivot/js/pivotchart/pivotchart.js"></script>
<script src="../static/pivot/js/documentlist/documentlist.js"></script>
<!-- <script src="index.js"></script> -->
<script src="../static/pivot/index.js"></script>

</html>