{% extends "new_layout.html" %}
{% block title %}Train{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<body>

{% block content %}
		

		<div class="ml-4 my-3 text-white">
			<br>
			<br>
			<br>
			<br>
			              <div>
              {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if message %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
                </div>
			<h1>Training</h1>
	  		<form method="POST" enctype="multipart/form-data" action="{{ url_for('train') }}">
		  		<fieldset class="form-group">
	           
	      		{{ inputform.hidden_tag() }}          
	           
	       		<div class="form-group">
	            	{{ inputform.file }} 
	        	</div>
	             
	          	<div class="form-group ">	      	
	            	{{ inputform.submit(class='btn btn-primary bg-theme') }}
	          	</div>
	    		</fieldset>
	  		</form>
	  	</div>

	  	<div class="ml-4 my-3">
	  		<form method="POST" action="{{ url_for('train_model', retrain=False) }}">
		  		<fieldset class="form-group">
	           
	      		{{ trainModelform.hidden_tag() }}          
	             
	          	<div class="form-group ">	      	
	            	{{ trainModelform.train(class='btn btn-primary bg-theme') }}
	            	<p id="guideMsg" style="color: red"></p>
	          	</div>
	    		</fieldset>
	  		</form>
	  	</div>

	  	<div class="ml-4 my-4">
	  		<button onclick="window.location.href = '{{url_for('proceed')}}'" type="button" class="btn btn-primary bg-theme" >Train Model From Bin</button>
		</div>
	  	<div class="ml-4 my-4">

	  		<button type="button" class="btn btn-primary bg-theme" data-toggle="modal" data-target="#restartModal">Start Model From Scratch</button>

			<!-- Modal -->
			<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="restartModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="restartModalLabel">Start Model from Scratch?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Are you sure you want to restart the model from scratch, once done it can not be rolled back
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
			        <form action="{{ url_for('restart_model') }}" method="POST">
			        	<button type="submit" class="btn btn-outline-success">Continue</button>
			       	</form>
			      </div>
			    </div>
			  </div>
			</div>	  		

	  	</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

	  	<script type="text/javascript">

		$("#train").click(function(){
			$("#train").prop("disabled", true);
			var title = "123";
			$("#guideMsg").text("Model Traning Started, Please wait, You will be notified shortly")
			$.post("{{ url_for('train_model', retrain=False) }}", function(){
				window.location.replace("{{ url_for('train') }}")
			});
		});
	
		</script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% endblock %}
</body>