@font-face {
  font-family: Roboto;
  src: url(/static/edge/static/Roboto-Regular.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(/static/edge/static/Gotham/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(/static/edge/static/Gotham/Gotham-Medium_0.otf);
}

body {
  font-family: Gotham,Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  top: 0;
  overflow: hidden;
}
body:-webkit-full-screen {
  position: fixed;
  top: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chart-container {
  margin: auto;
  width: 100vw;
}

.chart {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.control {
  color: black;
  margin: 10px;
  position: absolute;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.control h3 {
  background-color: white;
  padding: 0.3em;
  border-radius: 0.3em;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  pointer-events: all;
}

.inputs div {
  background-color: white;
  margin: 0.25em;
  padding: 0.25em;
  text-align: center;
  border-radius: 0.25em;
}

.inputs h4 {
  margin: 0px;
  padding: 0px;
}
.inputs h3 {
  margin: 0px;
  padding: 0px;
}
/* GRID LAYOUT INPUTS*/
.document-counts {
  text-align: center;
}
.title-group-by {
  text-align: center;
}
.title-similarity-dimension {
  text-align: center;
}
.group-by {
}

.extras {
}

/* DRAG & DROP*/

.similarity-dimension {
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: #eee;
  font-weight: normal;
  margin: 5px;
  padding: 5px;
  border: 0px solid black;
  border-radius: 2px;
}
.active {
  background-color: #aaa;
  color: #fff;
}
.group-by {
  background-color: #fff;
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}
.as-group {
  background-color: #aaa;
  color: #fff;
}
.node {
  cursor: pointer;
}
.rect-side {
}

/*Tooltip*/
.tooltip {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  max-width: 300px;
  max-height: 45vh;
  overflow-y: auto;
  color: #222;
}

.tooltip h4 {
  color: #111;
}

.tooltip-title {
  font-size: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 0.25rem;
  font-family: Gotham-Medium;
}

.tooltip-text {
  margin-top: 0.25rem;
  font-size: 0.9rem;
}

.tooltip-list {
  padding: 0;
  font-size: 0.9rem;
}

.tooltip-list-element {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tooltip-element-title{
  font-family: Gotham-Medium;
}

.tooltip-list-element div {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
}
.tooltip-list-element h4 {
  color: #111;
}
.tooltip-list-element div p {
  font-size: 1rem;
  font-weight: bold;
  opacity: 1;
}

.tooltip-url {
  text-decoration: none;
  color: #333;
}
.tooltip-url:hover {
  text-decoration: none;
  color: #221;
}
.tooltip-list-element-text:hover {
  text-decoration: underline;
}

/*  */
input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* toggle dark btn */
.toggle-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 26px;
  margin: 10px;
}
.toggle-btn {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto auto 0;
  border-radius: 40px;
}

#toggle-dark-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #ddd;
  /* box-shadow: 0px 5px 25px #d9d9d9; */
  /* border: 2px solid #aaa; */
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#toggle-dark-btn span:before,
#toggle-dark-btn span:after {
  content: "";
  position: absolute;
  top: 20%;
  width: 30%;
  height: 60%;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#toggle-dark-btn span:before {
  background-color: #fff;
  transform: translate(-100%, 0px);
  z-index: 1;
}

#toggle-dark-btn span:after {
  background-color: #111;
  transform: translate(40%, 0px);
  z-index: 0;
}

#toggle-dark-btn input[type="checkbox"]:checked + span {
  background-color: #111;
}

#toggle-dark-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#toggle-dark-btn input[type="checkbox"]:checked + span:before {
  background-color: #111;
  transform: translate(160%, -25%);
}

#toggle-dark-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(200%, 0px);
}

/* Toggle sound  */
.toggle-sound-notice {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 240px;
  margin: 10px;
  padding: 10px;
  padding-left: 10px;
  border: 0px solid black;
  border-radius: 5px;
  text-align: center;
}
.sound-notice-text {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
