/* Webfont: GothamHTF-Book */@font-face {
    font-family: 'GothamHTF-Book';
    src: url('GothamHTF-Book1.eot'); /* IE9 Compat Modes */
    src: url('GothamHTF-Book1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GothamHTF-Book1.woff') format('woff'), /* Modern Browsers */
         url('GothamHTF-Book1.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GothamHTF-Book1.svg#GothamHTF-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

